.hc-loader-robot {
    animation: robotFade 3s infinite;
    animation-delay: 0.2s;
    transition: opacity 1s ease-in-out 256ms;
}

.hc-loader-smiley {
    animation: fadeSmiley 3s infinite;
    animation-delay: 0.2s;
    /*transition: opacity 1s ease-in-out 256ms;*/
}

@keyframes robotFade {
    0%   { opacity: 1; }
    35%  { opacity: 1; }
    45%  { opacity: 0; }
    75%  { opacity: 0; }
    85%  { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fadeSmiley {
    0%   { opacity: 0; }
    35%  { opacity: 0; }
    45%  { opacity: 1; }
    75%  { opacity: 1; }
    85%  { opacity: 0; }
    100% { opacity: 0; }
}
